@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Lato:ital,wght@0,400;1,900&family=Source+Code+Pro:ital,wght@0,400;1,600;1,900&display=swap');
/*
font-family: 'Fira Code', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Abril Text', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: #282A36;
  --secondary-background: #292836;
  --current-line: #44475A;
  --Foreground: #F8F8F2;
  --comment: #6272A4;
  --black: #000000
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --purple-dark: #9580FF;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --font-default: 'Abril Text', sans-serif;
}

body {
  background-color: var(--wp--preset--color--cyan-bluish-gray);
}